<% content_for :title, "Edit Movie - #{@movie.title}" %>

<div class="header-container">
  <h1>Editing <%= @movie.title %></h1>
  
  <%= link_to "Cancel", 
              movies_path(sort: @sort, direction: @direction), 
              class: "btn btn-danger" %>
</div>

<%= render "form", movie: @movie %>