<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <%= render movie %>
          <p>
            <%= link_to "Show this movie", movie, class: "btn btn-primary" %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
