<% content_for :title, "Add a New Movie" %>

<div class="header-container">
  <h1>Add Another Movie</h1>
</div>

  <%= render "form", movie: @movie %>

<br>

<div class="navigation-links">
  <%= link_to "Home", movies_path, class: "btn btn-secondary" %>
</div>