<% content_for :title, "Add a New Movie" %>

<div class="header-container">
  <h1>Add Another Movie</h1>

  <%= link_to "Home",
              movies_path(sort: session[:sort], direction: session[:direction]),
              class: "btn btn-primary" %>
</div>

<%= render "form", movie: @movie %>

<br>